videos/examples/youtube_0518/
videos/upload_images/
pre_anno/
pre_anno_old/
youtube_video_download_dep.jsonl
sampled_youtube_video_id.txt
sentence_embeddings_with_video_id.jsonl
sampled_youtube_video.jsonl
representative_video_ids_1100.csv
representative_video_ids_1200.csv
sample_video_ids_1222.txt
youtube_downloads
videos/examples/youtube_sampled
metadata.jsonl
res/*
dwd_download_meta.jsonl
users_data
templates/display1.html
metadata.jsonl
videos/upload_images.zip
videos/old_images/
read_json.py
bench/plot_distribution.py
bench/plot_category.py
bench/merge_data.py
*.png
videos/*
missing
metadata.jsonl